<footer>
    <div class="footer-container">
        <div class="logo-section">
            <img src="/static/img/ic_sharp-search-off.png" alt="">
            <p>SignUp to post a flyer or REPORT if you
                have info about any of the missing pets.</p>
        </div>
        <div class="links-section">
            <p class="git"><a href="https://github.com/Alex-dev7">GitHub</a></p>
            <email>missingpets@test.com</email>
            <p>Phone Number: 01233456789</p>

        </div>
        <div class="dev-section">
            <p>Built by Alexei Rusu</p>
            <p>Copyright © 2022 Missing Pets </p>
        </div>
    </div>
</footer>