<header>
    <div class="nav-container">
        <ul>
            <a href="/posters"><li>Home</li></a>
            <a href="/user/signup"><li>Sign Up</li></a>
            <a href="/user/login"><li>Login</li></a>
        </ul>
    </div>
    <div class="banner-container">
        <h1>Missing Pets</h1>
        <div class="logo-img"><img src="/static/img/ic_sharp-search-off.png" alt="logo"></div>
        <div class="text"><p>SignUp to post a flyer, or REPORT if you<br> have info about any of the missing pets.</p></div>
    </div>
</header>