<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 

  <body>
    <%- include("../partials/header-login.ejs") %>
    <main>
      <div class="login-container">
       
        <form action="/user/signup" method="post">
          <p>NEW USER</p>
          <fieldset>
                       <label>
                        <input type="text" name="username" required  placeholder="username"/>
            </label>
            <label
              ></label><input type="password" name="password" required placeholder="password"/>
            </label>
            <input type="submit" value="Create" id="submit" class="submit" style="min-width: 100px !important;" />
          </fieldset>
        </form>
      </div>
    </main>
  </body>
</html>