<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 

  <body>
    <%- include("../partials/header.ejs") %>
    <main>
      <div class="login-container">
        <p>New User</p>
        <form action="/user/signup" method="post">
          <fieldset>
           
            <label
              >USERNAME: <input type="text" name="username" required />
            </label>
            <label
              >PASSWORD: <input type="password" name="password" required />
            </label>
            <input type="submit" value="Create Account" />
          </fieldset>
        </form>
      </div>
    </main>
  </body>
</html>