<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')  %> 
<body>
    <%- include('../partials/header.ejs')  %> 
    
    <main>
        <div class="report-container">

            <div class="report-poster">
               <form  action="/posters/<%= poster._id%>?_method=PUT" method="POST">
                    <label>Name: <input type="text" name="reports.name"></label>
                     <label>Message: <input type="text" name="reports.message"></label>
                    
                     <input type="submit" value="Send">
            
            </form>

            </div>
      
        </div>
    </main>
    <%- include('../partials/footer.ejs')  %> 
</body>
</html>