<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs')  %> 
<body>
    <%- include('../partials/header.ejs')  %> 
    
    <main>
        <div class="report-container">

            <div>
               <form  class="report-poster" action="/posters/<%= poster._id%>?_method=PUT" method="POST">
                    <label>Name: <input type="text" name="name"></label>
                     <label>Message: <input type="text" name="message"></label>
                     <label>Contact Info: <input type="text" name="contactInfo"></label>
                    
                     <input type="submit" value="Send" id="submit">
            
            </form>

            </div>
      
        </div>
    </main>
    <%- include('../partials/footer.ejs')  %> 
</body>
</html>